
<div class="container">

<h2><%= @user.first_name %>'s Book Recs</h2>

<div class="recommendation">
<% @books.each do |rec| %>
<div class="rec-image">
  <% if rec.finished == false %>

    <img src="<%= rec.img_url %>">
</div>
<div class="rec-info">
    <ul>
      <li><%= rec.title %></li>
      <li>Author: <%= rec.author %></li>
      <li><%= rec.year_published %></li>
      <li><%= rec.plot_summary %></li>
      <li>Google Book Rating: <%= rec.rating %></li>
      <li>Recommended By: <%= User.find(rec.recommendor_id).first_name %></li>
      <li>Recommended On: <%= rec.created_at.to_s(:long) %></li>
    </ul>
    <%= rec.message %>
    <p>
      <%= link_to "Mark as Read", book_rec_complete_path(@user) %> |
      <%= link_to "I Just Can't Do It", book_recommendation_path(rec), method: :delete %>
    </p>
  </div>
    <hr>
  <% end %>
<% end %>

</div> <!-- Container Ends here -->
