<div class="container">

  <h2><%= @user.first_name %>'s Finished Book Recs</h2>

  <hr>

  <div class="recommendation">

    <% @books.each do |rec| %>
      <% if rec.finished == true %>
    <div class="rec-image">
      <img src="<%= rec.img_url %>">
    </div>
    <div class="rec-info">
      <ul>
        <li><%= rec.title %></li>
        <li>Author: <%= rec.author %></li>
        <li><%= rec.year_published %></li>
        <li>Summary: <%= rec.plot_summary %></li>
        <li>Google Book Rating: <%= rec.rating %></li>
        <li>Recommended By: <%= User.find(rec.recommendor_id).first_name %></li>
        <li>Finished On: <%= rec.created_at.to_s(:long) %></li>
        <li>You rated this book a <%= rec.user_rating %></li>
      </ul>
      <%= rec.message %>
      </div>
      <hr>
      <% end %>
    <% end %>
  </div>

</div> <!-- Container Ends here -->
