<div class="container">

<h2><%= @user.first_name %>'s Movie Recs</h2>

<div class="recommendation">

<% @movies.each do |rec| %>
  <% if rec.finished == false %>
<div class="rec-image">
    <img src="<%= rec.img_url %>">
</div>
<div class="rec-info">
    <ul>
      <li><%= rec.title %></li>
      <li>Directed By: <%= rec.director %></li>
      <li>Cast: <%= rec.actors %></li>
      <li><%= rec.year_released %></li>
      <li>Summary: <%= rec.plot_summary %></li>
      <li><%= rec.media_type.capitalize %></li>
      <li>IMDB Rating: <%= rec.rating %></li>
      <li>Recommended By: <%= User.find(rec.recommendor_id).first_name %></li>
      <li>Recommended On: <%= rec.created_at.to_s(:long) %></li>
    </ul>
    <%= rec.message %>
    <p>
      <%= link_to "Mark as Watched", movie_rec_complete_path(rec) %> |
      <%= link_to "I Just Can't Do It", movie_recommendation_path(rec), method: :delete %>
    </p>
  </div>
    <hr>
  <% end %>
<% end %>
</div>

</div> <!-- Container Ends here -->
