<h2><%= @user.first_name %>'s Sent Movie Recs</h2>

<% @movies.each do |rec| %>
  <img src="<%= rec.img_url %>">
  <ul>
    <li><%= rec.title %></li>
    <li>Directed By: <%= rec.director %></li>
    <li>Cast: <%= rec.actors %></li>
    <li><%= rec.year_released %></li>
    <li>Summary: <%= rec.plot_summary %></li>
    <li><%= rec.media_type.capitalize %></li>
    <li>IMDB rating: <%= rec.rating %></li>
    <li>Recommended to: <%= User.find(rec.recommendee_id).first_name %></li>
    <li>Finished? <%= rec.finished.to_s.capitalize %></li>
    <% if rec.finished == true %>
      <li>Finished On <%= rec.updated_at.to_s(:long) %></li>
      <li>YOUR FRIEND rated this movie a <%= rec.user_rating %></li>
    <% else %>
      <li>Recommended On <%= rec.created_at.to_s(:long) %></li>
    <% end %>
  </ul>
  <%= rec.message %>
  <hr>
<% end %>
