<h2>How Was the Movie?</h2>
<p>Not finished yet? <%= link_to 'Back to Movie Recs', "/users/#{current_user.id}/recommendations/movie/received" %></p>

<%= form_for @movie_rec do |f| %>
<div>
  <%= f.label :user_rating %>
  <%= f.select :user_rating, (1..10) %>
</div>
<%= f.hidden_field :finished, :value => "TRUE" %>
<div>
<%= f.submit 'Submit Rating' %>
</div>
<% end %>
