<h2>All Movie Recommendations</h2>
<hr>
<% @movie_recommendations.each do |rec| %>
  <img src="<%= rec.img_url %>">
  <ul>
    <li><%= rec.title %></li>
    <li><%= rec.director %></li>
    <li><%= rec.actors %></li>
    <li><%= rec.year_released %></li>
    <li><%= rec.plot_summary %></li>
    <li><%= rec.media_type.capitalize %></li>
    <li><%= rec.rating %></li>
    <li>Recommended By: <%= User.find(rec.recommendor_id).first_name %></li>
    <li>Recommended To: <%= User.find(rec.recommendee_id).first_name %></li>
  </ul>
  <%= rec.message %>
  <p><%= link_to 'Delete Rec', movie_recommendation_path(rec), method: :delete %></p>
  <hr>
<% end %>
