<h2>All Book Recommendations</h2>
<hr>
<% @book_recommendations.each do |rec| %>
<img src="<%= rec.img_url %>">
<ul>
  <li><%= rec.title %></li>
  <li><%= rec.author %></li>
  <li><%= rec.year_published %></li>
  <li><%= rec.plot_summary %></li>
  <li><%= rec.rating %></li>
  <li>Recommended By: <%= User.find(rec.recommendor_id).first_name %></li>
  <li>Recommended To: <%= User.find(rec.recommendee_id).first_name %></li>
</ul>
<%= rec.message %>
<p><%= link_to 'Delete Rec', book_recommendation_path(rec) %></p>
<hr>
<% end %>
