<p>Enter your message for the Rec</p>


<%= form_for @book_rec do |f| %>
<div>
<%= f.label(:message) %>
<%= f.text_area(:message) %>
</div>
<div>
<%= f.submit 'Enter Message' %>
</div>
<% end %>
<div>
<%= link_to 'Continue without a message', users_path %>
</div>
