<!DOCTYPE html>
<html>
<head>
  <title>QueueApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if current_user %>
<p>
  Welcome, <%= current_user.first_name %> |
  <%= link_to 'Log Out', logout_path %> |
  <%= link_to 'Edit Profile', edit_user_path(current_user) %>
</p>
<div>
  <%= link_to 'Pending Movie Recs', user_movie_recs_path(current_user) %> |
  <%= link_to 'Completed Movie Recs', completed_user_movie_recs_path(current_user)%>
</div>
<div>
  <%= link_to 'Pending Book Recs', user_book_recs_path(current_user) %> |
  <%= link_to 'Completed Book Recs', completed_user_book_recs_path(current_user)%>
</div>
<% end %>

<% flash.each do |name, msg| %>
  <%= content_tag :div, msg, class: name %>
<% end %>

<h1>Queue</h1>

<%= yield %>

</body>
</html>
