<!DOCTYPE html>
<html>
<head>
  <title>QueueApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if current_user %>
  <p>
    Welcome, <%= current_user.first_name %> |
    <%= link_to 'Log Out', logout_path %> |
    <%= link_to 'Edit Profile', edit_user_path(current_user) %>
  </p>
  <h1>Queue</h1>
  <div>
    <%= link_to 'Home', users_path %>
  </div>
  <div>
    <%= link_to 'My Movie Recs', "/users/#{current_user.id}/recommendations/movie/received" %> |
    <%= link_to 'Completed Movie Recs', "/users/#{current_user.id}/recommendations/movie/completed" %>
  </div>
  <div>
    <%= link_to 'My Book Recs', "/users/#{current_user.id}/recommendations/book/received" %> |
    <%= link_to 'Completed Book Recs', "/users/#{current_user.id}/recommendations/book/completed" %>
  </div>
  <div>
    <%= link_to 'Sent Book Recs', "/users/#{current_user.id}/recommendations/book/sent" %> |
    <%= link_to 'Sent Movie Recs', "/users/#{current_user.id}/recommendations/movie/sent" %>
  </div>
<% else %>
  <h1>Queue</h1>
<% end %>

<% flash.each do |name, msg| %>
  <%= content_tag :div, msg, class: name %>
<% end %>


<%= yield %>

</body>
</html>
